{% extends "base.html" %}

{% block title %}404 - Page Not Found{% endblock %}

{% block content %}
<div class="content">
    <h1>404 - Page Not Found</h1>
    <img class="error-image" src="{{ url_for('static', filename='images/404.gif') }}" alt="404 Error">
    <p>The page you're looking for doesn't exist.</p>
    <p class="note">If you take a look in the developer tools you should see that the HTTP status code is <em>404</em> for this request.</p>
    
    <p>
        <a href="{{ url_for('index') }}">Go Home</a> | 
        <a href="javascript:history.back()">Go Back</a> | 
        <a href="{{ url_for('test_page') }}">Test Page</a>
    </p>
</div>
{% endblock %}